<%= form_with model: model, url: url, class: class_name, local: true do |f| %>
  <% if model == @like %>
    <%= button_tag(type: 'submit', class: "post_card_btn #{'liked' if liked}") do %>
      <% if liked %>
        <%= content_tag(:i, 'favorite', class: 'material-icons') %>
        <%= content_tag(:span, 'Liked', class: 'post_card_btn_text') %>
      <% else %>
        <%= content_tag(:i, 'favorite', class: 'material-icons post_card_btn_text') %>
        <%= content_tag(:span, 'Like', class: 'post_card_btn_text') %>
      <% end %>
    <% end %>
  <% else %>
    <% fields.each do |field| %>
      <div class="field">
        <% case field.to_s %>
          <% when 'text' %>
            <%= f.text_area field, placeholder: field.to_s.humanize %>
          <% else %>
            <%= f.text_field field, placeholder: field.to_s.humanize %>
        <% end %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit class: 'btn btn_cta btn_cta_new' %>
    </div>
  <% end %>
<% end %>