<div class='<%= post_card_class %>'>
  <div class='post_card_header'>
    <h3><%= link_to post.title.capitalize, user_post_path(@user, post), class: 'post_card_title' %></h3>

      <%= render 'shared/delete_btn', path: user_post_path(@user, post) %>
  </div>

  <div class='post_card_text'>
    <p class='post_card_description'>
      <% if post.text.length > 100 %>
        <%= truncate(post.text, length: 100) %>
      <% else %>
        <%= post.text %>
      <% end %>
    </p>

    <div class='post_card_grid'>
      <div class='post_card_actions'>
        <%= render 'shared/button', btnName: 'Add comment', btnPath: new_user_post_comment_path(@user, post), btnClass: 'btn btn_interact' %>

        <%= render 'shared/form', model: @like, url: user_post_likes_path(@user, post), fields: [], class_name: 'form_like', liked: post.liked_by?(current_user) %>
      </div>

      <p class='post_card_counters'>Comments: <%= post.comments_counter %> | Likes: <%= post.likes_counter %></p>
    </div>
  </div>  
</div> 