<div class='<%= post_card_class %>'>
  <div class='post_card_header'>
    <h3><%= link_to post.title.capitalize, user_post_path(@user, post), class: 'post_card_title' %></h3>

    <% if can? :destroy, post %>
      <%= render 'shared/delete_btn', path: user_post_path(@user, post) %>
    <% end %>
  </div>

  <div class='post_card_text'>
    <p class='post_card_description'>
      <% if post.text.length > 100 %>
        <%= truncate(post.text, length: 100) %>
      <% else %>
        <%= post.text %>
      <% end %>
    </p>

    <div class='interaction_grid'>
      <%= render 'shared/interactions', model: @like, post: post, user: @user, liked: post.liked_by?(current_user) %>

      <p class='post_card_counters'>Comments: <%= post.comments_counter %> | Likes: <%= post.likes_counter %></p>
    </div>
  </div>  
</div> 