<%= content_for :title, "#{truncate(@post.title.capitalize, length: 20)} | " %>

<% if current_user == @user %>
  <div class='post_actions-p'>
    <%= render 'shared/button', btnName: 'New post', btnClass: 'btn btn_cta btn_cta_new', btnPath: new_user_post_path(@user), iconName: 'add' %>
  </div>
<% end %>

<div class='post_details'>
  <header class='post_details_header'>
    <h1>
      <%= link_to @post.title.capitalize, user_post_path(@user, @post), class: 'post_details_title' %>
      <span>by <%= link_to @user.name, user_path(@user), class: 'post_details_header_author' %></span>
    </h1>

    <div class='post_details_header_grid'>
      <% if can? :destroy, @post %>
        <%= render 'shared/delete_btn', path: user_post_path(@user, @post) %>
      <% end %>
      
      <p class='post_card_counters'>Comments: <%= @post.comments_counter %> | Likes: <%= @post.likes_counter %></p>
    </div>
  </header>

  <div class='post_details_body'>
    <p class='post_details_text'><%= @post.text %></p>

    <div class='interaction_grid'>
      <%= render 'shared/interactions', model: @like, post: @post, user: @user, liked: @post.liked_by?(current_user) %>
    </div>
  </div>
</div>

<ul class='comment_list'>
  <% if @comments.empty? %>
    <p class='comment_empty-message'>No comments yet!</p>
  <% else %>
    <% @comments.each do |comment| %>
      <li class='comment_list_item'>
        <%= render 'shared/comment_card', comment: comment %>
      </li>
    <% end %>
  <% end %>
</ul>